.my-input.my-input-cyan > label {
	color: #31708F;
	background-color: #D9EDF7;
	border-color: #ABD7E1;
}
.my-input.my-input-cyan > input {
	border-color: #ABD7E1;
}
.my-input.my-input-cyan > input:focus {
	border-color: #A3DDFF;
}


.my-input.my-input-green > label {
	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #C5D8B5;
}
.my-input.my-input-green > input {
	border-color: #C5D8B5;
}
.my-input.my-input-green > input:focus {
	border-color: #A3E5CC;
}


.my-input.warning > label {
	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #E9DABB;
}
.my-input.warning > input {
	border-color: #E9DABB;
}
.my-input.warning > input:focus {
	border-color: #F5E5AA;
}
.my-input.warning > span {
	color: #8A6D3B;
}


.my-input.error > label {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #DABBC1;
}
.my-input.error > input {
	border-color: #DABBC1;
}
.my-input.error > input:focus {
	border-color: #EE99AA;
}
.my-input.error > span {
	color: #A94442;
}