.my-form-cntr {
	display: flex;
	flex-wrap: wrap;
}


.my-input {
	display: table;
	width: 32%;
	margin-left: 1%;
}
.my-input-full {
	width: 98%;
	margin-left: 1%; 
}
.my-input-long {
	width: 48.5%;
	margin-left: 1%; 
}
.my-input-short {
	width: 24%;
	margin-left: 0.7%; 
}


.my-input > label {
	display: table-cell;
	width: 120px;
	max-width: 160px;
	padding: 5px 10px 5px 10px;
	background-color: #F1F1F1;
	border-width: 1px 0px 1px 1px;
	border-color: #AAA;
	border-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 13px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	transition: max-width 0.5s;
	-webkit-transition: max-width 0.5s;
}
.my-input > input {
	display: table-cell;
	width: 100%;
	height: 32px;
	padding: 5px 10px 5px 10px;
	border: #AAA solid 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-sizing: border-box;
	font-size: 14px;
}
.my-input > input:focus {
	outline: none;
	border-color: #CCC;
	border-width: 2px;
}
.my-input > span {
	display: table-caption;
	height: 16px;
	padding-bottom: 2px;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}


.my-input-cyan > label {
	color: #31708F;
	background-color: #D9EDF7;
	border-color: #ABD7E1;
}
.my-input-cyan > input {
	border-color: #ABD7E1;
}
.my-input-cyan > input:focus {
	border-color: #A3DDFF;
}


.my-input-green > label {
	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #C5D8B5;
}
.my-input-green > input {
	border-color: #C5D8B5;
}
.my-input-green > input:focus {
	border-color: #A3E5CC;
}


.my-input.warning > label {
	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #E9DABB;
}
.my-input.warning > input {
	border-color: #E9DABB;
}
.my-input.warning > input:focus {
	border-color: #F5E5AA;
}
.my-input.warning > span {
	color: #8A6D3B;
}


.my-input.error > label {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #DABBC1;
}
.my-input.error > input {
	border-color: #DABBC1;
}
.my-input.error > input:focus {
	border-color: #EE99AA;
}
.my-input.error > span {
	color: #A94442;
}