.my-form-cntr {
	display: flex;
	flex-wrap: wrap;
}


.my-input {
	display: table;
	width: 32%;
	margin-left: 1%;
}
.my-input-full {
	width: 98%;
	margin-left: 1%; 
}
.my-input-long {
	width: 48.5%;
	margin-left: 1%; 
}
.my-input-short {
	width: 24%;
	margin-left: 0.7%; 
}


.my-input > label {
	display: table-cell;
	width: 120px;
	max-width: 160px;
	padding: 5px 10px 5px 10px;
	background-color: #F7F7F7;
	border-width: 1px 0px 1px 1px;
	border-color: #BBB;
	border-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #333;
	font-size: 13px;
	font-family: Microsoft YaHei;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	transition: max-width 0.5s;
	-webkit-transition: max-width 0.5s;
}
.my-input > input {
	display: table-cell;
	width: 100%;
	height: 32px;
	padding: 5px 10px 5px 10px;
	border: #AAA solid 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.my-input > input:focus {
	outline: none;
	border-color: #CCC;
	border-width: 2px;
}
.my-input > span {
	display: table-caption;
	height: 16px;
	padding-bottom: 2px;
	font-size: 14px;
	font-family: Microsoft YaHei;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}


